<!DOCTYPE html>
<html lang="en">
    <header>
        <title>The Wall</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </header>
    <body>
        <div class="container p-2 mx-auto">
            <h1 class="p-2 m-2 text-center">The Wall</h1>
            {% if messages %}
                    <ul class="messages text-danger text-center" style="list-style-position: inside; padding-left: 0;">
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
            {% endif %}
            <div class="container mx-auto">
                <div class="row p-2 align-center">
                    <div class="col-sm-5 my-2 mx-auto">
                        <h2 class="text-center m-3">Register</h2>
                        <form action="/login" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="register">
                            <div class="form-group row">
                                <label for="first_name" class="col-sm-4 col-form-label">First Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="last_name" class="col-sm-4 col-form-label">Last Name</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-4 col-form-label">E-mail</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="confim" class="col-sm-4 col-form-label">Confirm Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="confirm">
                                </div>
                            </div>
                            <div class="form-group row">
                                <button type="submit" class="btn btn-info btn-lg mx-auto">Register</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-5 my-2 mx-auto">
                        <h2 class="text-center m-3">Login</h2>
                        <form action="/login" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="type" value="login">
                            <div class="form-group row">
                                <label for="email" class="col-sm-4 col-form-label">E-mail</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="last_name" class="col-sm-4 col-form-label">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" name="password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <button type="submit" class="btn btn-info btn-lg mx-auto">Log In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>